body {

    /* background-color: rgb(17, 66, 50); */
    background-color: #87A922 ;
    

}

.search {

    display : inline;

}

.search_button {

    background-color: mediumseagreen;
}


























